server {
    location /api/ {
      proxy_pass $API_URL/api/;
      proxy_set_header Host $http_host;
    }

    location / {
      root /usr/share/nginx/html;
      try_files $uri $uri/ /index.html;
    }
}